.day {
  .Clear {
    background-image: url(./Images/day/clear.png);
  }
  .Partialy_Cloudy {
    background-image: url(./Images/day/Partly_Cloudy.png);
  }
  .Cloudy {
    background-image: url(./Images/day/cloudy.png);
  }
  .OverCast {
    background-image: url(./Images/day/overcast.jpg);
  }
  .Mist {
    background-image: url(./Images/day/misty.jpg);
  }
  .Rain {
    background-image: url(./Images/day/rainy.jpg);
  }
  .Snow {
    background-image: url(./Images/day/snowy.png);
  }
  .Thunder_Strom {
    background-image: url(./Images/day/ThunderStrom.jpg);
  }
  .Blizzard {
    background-image: url(./Images/day/Blizzard.jpg);
  }
  .Fog {
    background-image: url(./Images/day/fog.jpg);
  }
  .Heavy_Rain {
    background-image: url(./Images/day/heavyrain.jpg);
  }
}
