.night {
  .Clear {
    background-image: url(./Images/night/clear.jpg);
  }
  .Partialy_Cloudy {
    background-image: url(./Images/night/Partialy_Cloudy.jpg);
  }
  .Cloudy {
    background-image: url(./Images/night/cloudy.png);
  }
  .OverCast {
    background-image: url(./Images/night/overcast.png);
  }
  .Mist {
    background-image: url(./Images/night/misty.jpg);
  }
  .Rain {
    background-image: url(./Images/night/rainy.png);
  }
  .Snow {
    background-image: url(./Images/night/snow.png);
  }
  .Thunder_Strom {
    background-image: url(./Images/night/thunderstrom.jpg);
  }
  .Blizzard {
    background-image: url(./Images/night/Blizzard.jpg);
  }
  .Fog{
    background-image: url(./Images/night/fog.jpg);
  }
  .Heavy_Rain{
    background-image: url(./Images/night/heavyrain.jpg);
  }
}
